/* this is admin page */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 142.1 76.2% 41%;
    --primary-foreground: 142.1 76.2% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 41%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

     --sidebar-background: hsl(240 10% 3.9%);
    --sidebar-foreground: hsl(0 0% 98%);
    --sidebar-primary: hsl(142.1 76.2% 41%);
    --sidebar-primary-foreground: hsl(142.1 76.2% 98%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(0 0% 98%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(240 4.9% 83.9%);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 7.5%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 76.2% 41%;
    --primary-foreground: 142.1 76.2% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

     --sidebar-background: hsl(240 10% 3.9%);
    --sidebar-foreground: hsl(0 0% 98%);
    --sidebar-primary: hsl(142.1 76.2% 41%);
    --sidebar-primary-foreground: hsl(142.1 76.2% 98%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(0 0% 98%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(240 4.9% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }
}

[data-mobile="true"] {
  background-color: white !important;
  color: black !important;
}

[data-mobile="true"] [data-sidebar="header"] span {
    color: black !important;
}

[data-mobile="true"] [data-sidebar="menu-button"] {
    color: hsl(240 5.9% 10%) !important;
}

[data-mobile="true"] [data-sidebar="menu-button"] > svg {
    color: hsl(240 5.9% 10%) !important;
}

[data-mobile="true"] [data-sidebar="footer"] {
    color: hsl(240 5.9% 10%) !important;
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
